{% extends "layout.html" %}

{% block content %}
<header id="header-text" class="pt-75 pb-75 pt-lg-200 pb-lg-200 text-center dark">
    <div class="container">
        <div class="row">
            <div class="col-12" style="">

                <h1 class="" style=""><strong>Добро пожаловать</strong></h1>
                <h2 class="mb-50 mb-md-100" style=""><strong>Добро пожаловать в мой блог! Большое спасибо за посещение.
                    Я рад видеть вас на просторах моего блога! Это так здорово видеть вас здесь. Позвольте мне сказать
                    вам одну вещь: вы можете не только просматривать новые посты, но и получать обновления</strong></h2>

            </div>
        </div>
    </div>
    <div class="bg-wrap">
        <div class="bg"></div>
    </div>
</header>
{% endblock content %}