{% extends "layout.html" %}


{% block content %}
    <h1 class="mb-3">Посты опубликованы пользователем {{ user.username }} ({{ posts.total }})</h1>
    {% for post in posts.items %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content-box row no-gutters bg-default light mt-100" style="background-color: #f4f5f6;">
                    <div class="col-sm-auto padding-x3">
                        <h4 class="mb-0"><a class="title" href="{{ url_for('users.user_posts', username=post.author.username) }}" id="author" style="margin: 0 auto;"><strong>{{ post.author.username }}</strong></a></h4>
                    </div>
                    <div class="col-sm padding-x3">
                      <h4 class="mb-0"><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h4>
                      <p class="">{{ post.content }}</p>
                      <p class="text-secondary mb-10">Опубликовано {{ post.date_posted.strftime('%A, %d %B %Y %I:%M %p') }}</p>
                    </div>
                    <div class="col-sm-auto">
                        <a href="{{ url_for('users.user_posts', username=post.author.username) }}" id="author"><img src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}" width="220px" alt="Аватарка автора" class=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endfor %}


    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-success mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-success mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
