{% extends "layout.html" %}
{% block content %}
<header id="header-text" class="pt-75 pb-75 pt-lg-200 pb-lg-200 text-center dark">
    <div class="container">
        <div class="row">
            <div class="col-12" style="">

                <h1 class="" style=""><strong>В доступе отказано (403)</strong></h1>
                <h2 class="mb-50 mb-md-100" style=""><strong>У вас нет прав доступа к этой странице</strong></h2>

            </div>
        </div>
    </div>
    <div class="bg-wrap">
        <div class="bg"></div>
    </div>
</header>
{% endblock content %}
