{% extends "layout.html" %}
{% block content %}
<header id="header-text" class="pt-75 pb-75 pt-lg-200 pb-lg-200 text-center dark">
    <div class="container">
        <div class="row">
            <div class="col-12" style="">

                <h1 class="" style=""><strong>Что-то пошло не так (500)</strong></h1>
                <h2 class="mb-50 mb-md-100" style=""><strong>У нас проблемы. Пожалуйста, попробуйте еще раз в ближайшее время</strong></h2>

            </div>
        </div>
    </div>
    <div class="bg-wrap">
        <div class="bg"></div>
    </div>
</header>
{% endblock content %}
